/* 
palette 

accent color #2196F3
primary text color #212121
secondary text color #757575 
white text #FFFFFF
 primary features color #F5F4FA
footer address color: rgba(255, 255, 255, 0.6);
social links primary background: rgba(255, 255, 255, 0.1);
dev string color: rgba(255, 255, 255, 0.4);
backgroung for the features: #F5F4FA
background for the footer: #2F303A */

:root {
    --accent-color: #2196F3;
    --primary-text-color: #757575;
    --primary-title-color: #212121;
    --text-on-the-button-color: #ffffff;
}


.page{
    background-color: #ffffff;
}
.list{
    list-style: none;
}

/* header  */

.logo-link{
    color: var(--accent-color);
}
.logo-link-word-studio{
    color: #212121;
}
    /* why focus doesnt apply to complete logo?? */
.logo-link:focus{
    color: red;
}
.site-nav .link{
    color: var(--primary-title-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus{
    color: var(--accent-color);
}
.auth-nav .link,
main .text{
    color: var(--primary-text-color);
}
/* main section */

main {
    color: var(--primary-title-color);
}

/* hero section */

.hero-title{
    color: #ffffff;
}
.hero-link{
    background-color: #2196f3;
    color: #ffffff;
}

/* what-we-are-doing-section */

.production .title{
    color: var(--text-on-the-button-color);
}

/* our-team */
.team .profession{
    color: var(--primary-text-color);
}

    /* is it allowed to use hover and focus like that,
or necessary apply to each link separately */

.social-links > li:hover,
.social-links > li:focus{
    background-color: var(--accent-color);
}

/* clients */

/* footer */

.logo-title-studio{
    color: #ffffff;
}

    /* why focus doesnt apply to complete logo?? */

.logo-link:focus{
    color: red;
}
.address,
.social-links-title,
.subscribe-title,
.subscription-button{
    color: var(--text-on-the-button-color);
}
.subscription-button{
    background-color: var(--accent-color);
}
.footer-contacts{
    color: rgba(255, 255, 255, 0.6)
}

.authors{
    color: rgba(255, 255, 255, 0.4)
}
