/* palette */

/* accent color #2196F3 */
/* primary text color #212121 */
/* secondary text color #757575 */ 
/* white text #FFFFFF */
 /* primary features color #F5F4FA */
/* footer address color: rgba(255, 255, 255, 0.6); */
/* social links primary background: rgba(255, 255, 255, 0.1); */
/* dev string color: rgba(255, 255, 255, 0.4); */

/* header  */
.header-title-logo{
    color: #2196f3;
}
.header-title-logo:focus{
    color: #F93106;
}
.header-title-studio{
    color: #212121;
}
header .list-link{
    color: #212121;
}
header .list-link:hover,
header .list-link:focus,
header .contacts-link:hover,
header .contacts-link:focus{
    color: #2196f3;
}
header .contacts-link,
main .text{   
    color:#757575;
}
/* main section */
main {
    color: #212121;
}

/* hero section */
.hero-title{
    color: #ffffff;
}
.hero-link{
    background-color: #2196f3;
    color: #ffffff;
}

/* what-we-are-doing-section */
.production-title{
    color: #ffffff;
}
/* our-team */
.profession-title{
    color: #757575;
}
/* is it allowed to use hover and focus like that,
or necessary apply to each link separately */
.social-links > li:hover,
.social-links > li:focus{
    background-color: #2196f3;
}
